name: Frontend Tests

on:
  pull_request:
    paths:
      - 'app/**'
  push:
    branches:
      - main
    paths:
      - 'app/**'

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./app

    steps:
    - uses: actions/checkout@v6

    - name: Install Bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: "1.3.6"

    - name: Install dependencies
      run: bun install

    - name: Run tests
      run: bun run test
